#mainnav-menu .active-sub, #mainnav-menu .active-sub:hover {
    color: #fff;
    font-weight: 600;
    background-color: #25476a;
    margin: 0 5px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 3px;
}

button {
    margin: 0 3px;
}