.section-width {
	min-width: 1200px;
	max-width: 1600px;
}
.advertise img {
	margin-bottom: 10px;
	width: 100%;
}
.news-content img{
	width: 100%;
	position: relative;
}
.new-content-cover {
	height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

.padding-left-0 {
	padding-left: 0px;
}
.padding-right-0 {
	padding-right: 0px;
}

.news-content:hover .new-content-cover{
	opacity: 0.7;	
}
.question {
	
}
.news-m {
	position: absolute;
	color:#fff;
	bottom: 40px;
	font-weight: bold;
	left: 65px;
	font-size: 16px;
}
.time-post{
	font-style: italic;
	font-size: 13px;
}

.button-news{
	padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 0px;
    padding-right: 20px;
    padding-left: 20px;
}
a{
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.news-m a{
	color: #fff;
}
.login-section {
	background-color: #000;
	color: #fff;
}
.icon-login i{
	margin: 10px 20px;
	font-size: 20px;
}
.list-section button{
	font-size: 14px;
	background-color: transparent;
	border: 1px solid #a8a8a8;
	float:right;
	margin-top:10px;
}
.list-section .title-list span {
	font-size: 25px;
	text-transform: uppercase;
	font-family: "Myriad Pro";
	font-weight: 500;
	border-bottom: 4px solid #e14f3b;
}
.list-section {
	margin-top: 22px;
}
.content-nd:first-child{
	margin-left: 0px;
	float: left;
}
.content-nd {
	width: 115px;
	height: 115px;
	border: 2px solid #daccbb;
}
.content-nd {
	width: 105px;
	height: 105px;
	border: 2px solid #daccbb;
	margin-top: 30px;
}
.content-nd:last-child{
	margin-left: 0px;
	float:right;
}

	
.bg-content-list1{
	background-image: url('../image/icon-heate.png');
	background-position: 7px 9px;
	background-repeat: no-repeat;
}
.bg-content-list2{
	background-image: url('../image/icon-heate.png');
	background-position: -126px 9px;
	background-repeat: no-repeat;
	left: 12%;

}
.bg-content-list3{
	background-image: url('../image/icon-heate.png');
	background-position: -258px 9px;
	background-repeat: no-repeat;
}
.content-list p{
	top:60px;
	font-size: 17px;
	font-weight: 600;
	font-family: "Myriad Pro";
	text-transform: uppercase;
	position: absolute;
	left: 34px;
}
.content-list .title{
	top:80px;
	font-weight: 100;
	text-transform: capitalize;
	font-size: 8px;
	font-style: italic;
	font-family: "Myriad Pro";
	position: absolute;
	left: 28px;
}
.content-list .title:first-child{
	left: 34px;
}
.content-list span{
	top:60px;
	font-size: 10px;
	font-family: "Myriad Pro";
	position: absolute;
	left: 34px;
}

@media screen and (max-width: 1365px)  {
	.bg-content-list2 {
		left: 7%;
	}
}

@media screen and (min-width: 1367)  {
	.bg-content-list2 {
		left: 17%;
	}

}

/* -----------------------index--------------------------- */  
#index{
	margin-top: 2%;
}
.title-news-left a{
	color: #303030;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    border-bottom: 4px solid #e14f3b;
}
.title-news-right a{
	margin-top: 5%;
}
.news-fa-chevron-right{
	font-size: 12px;

}
.title-content{
	margin-top: 1.5%;
}
.news-img-highlight{
	position: relative;
}
.news-hightlight{
	background-color: #303030;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 0px 7px 0px 0px;
}
.news-img-highlight .news-hightlight{
	position: absolute;
	left: 0;
	bottom: 0;
}
.text-highlight{
	font-size: 20px;
    font-weight: 600;
    margin-top: 3%;
}
.name-highlight{
	margin-top: 1%;
}
.news-text{
	margin-top: 5%;
}
.n-highlight{
	background-color: #303030;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 2%;
    text-align: center;
    font-size: 10px;
    padding: 2px;
}
.n-times-high{
	font-size: 12px;
    line-height: 30px;
    font-style: italic;
}
.img-content-left{
	margin-bottom: 20%;
}
#index-question{
	margin-top: 5%;
}
.ques-mar{
	margin-top: 7%;
}
.bold-text{
	font-weight: 600;
	font-size: 18px;
}
.tower{
	margin-top: 4%;
}
.n-high{
	background-color: #303030;
    color: #ffffff;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 0.7%;
    text-align: center;
    font-size: 10px;
    padding: 2px;
}
.tower-one{
	margin-bottom: 14%;
}
.blood-title a{
	margin-left: 5px;
	border-bottom-color: #303030; 
}
#blood{
	margin-top: 4%;
}
#info{
	margin-top: 4%;
}
#warning{
	margin: 4% 0px;
}
.action a{
	margin-left: 4%;
}
.mar-action{
	margin-top: 40%;
	
}
.mar-action{
	position: relative;
}
.mar-action img{
	position: absolute;
	width: 92.2%;
	z-index: 0;
}
.mar-action .hover-action{
	position: absolute;
	z-index: 1;
	display: none;
}
.hover-action span{
	position: absolute;
	bottom: 2%;
	left: 3%;
}
.mar-action:hover .hover-action{
	cursor: pointer;
	background-color: #303030;
	height: 152.5px;
	width: 190.5px;
	opacity: 0.7;
	position: absolute;
	display: block;
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
}
.mar-action1{
	position: relative;
}
.mar-action1 img{
	position: absolute;
	width: 92.2%;
	z-index: 0;
}
.mar-action1 .hover-action1{
	position: absolute;
	z-index: 1;
	display: none;
}
.mar-action1:hover .hover-action1{
	cursor: pointer;
	background-color: #303030;
	height: 152.5px;
	width: 190.5px;
	opacity: 0.7;
	position: absolute;
	display: block;
	color: #ffffff;
	font-size: 13px;
	font-weight: 600;
}
.hover-action1 span{
	position: absolute;
	bottom: 2%;
	left: 3%;
}
/* -------------------end - index------------------------- */
